{
  "parser": "babel-eslint",
  "extends": ["plugin:flowtype/recommended", "airbnb", "prettier"],
  "plugins": ["react-hooks", "import", "flowtype"],
  "ignorePatterns": ["cypress/*"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "comma-dangle": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-closing-bracket-location": "off",
    "arrow-body-style": "off",
    "operator-linebreak": "off",
  }
}