{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react-hooks", "import"],
  "ignorePatterns": ["cypress/*"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "comma-dangle": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-closing-bracket-location": "off",
    "arrow-body-style": "off",
    "operator-linebreak": "off",
  }
}