div.react-mde-textarea {
  display: flex;
  flex: 1;
  flex-basis: auto;
  position: relative;
}

div.react-mde-textarea .textarea {
  display: flex;
  flex: 1;
  border: 0;
  padding: 10px;
  vertical-align: top;
  overflow-y: auto;
}
